In [0]:
employee_data = [(10,"Raj","Kumar","1999","100","M",2000),
                 (20,"Rashi","Rajan","2002","200","F",8000),
                 (30,"Raghav","Manish","2010","100",None,6000),
                 (40,"Rinki","Singh","2004","100","F",7000),
                 (50,"Rama","Krish","2008","400","M",1000),
                 (60,"Rasul","Kutty","2014","500","M",5000),
                 (70,"Kumar","Chand","2004","600","M",5000)
]

employee_schema = ["employee_id","first_name","last_name","doj","employee_dept_id","gender","salary"]

empDF= spark.createDataFrame(data = employee_data, schema= employee_schema)

display(empDF)

employee_id,first_name,last_name,doj,employee_dept_id,gender,salary
10,Raj,Kumar,1999,100,M,2000
20,Rashi,Rajan,2002,200,F,8000
30,Raghav,Manish,2010,100,null,6000
40,Rinki,Singh,2004,100,F,7000
50,Rama,Krish,2008,400,M,1000
60,Rasul,Kutty,2014,500,M,5000
70,Kumar,Chand,2004,600,M,5000

In [0]:
from pyspark.sql.functions import lit

empDF_AddColumn = empDF.withColumn("Location",lit("Mumbai")).show()

+-----------+----------+---------+----+----------------+------+------+--------+
|employee_id|first_name|last_name| doj|employee_dept_id|gender|salary|Location|
+-----------+----------+---------+----+----------------+------+------+--------+
|         10|       Raj|    Kumar|1999|             100|     M|  2000|  Mumbai|
|         20|     Rashi|    Rajan|2002|             200|     F|  8000|  Mumbai|
|         30|    Raghav|   Manish|2010|             100|  NULL|  6000|  Mumbai|
|         40|     Rinki|    Singh|2004|             100|     F|  7000|  Mumbai|
|         50|      Rama|    Krish|2008|             400|     M|  1000|  Mumbai|
|         60|     Rasul|    Kutty|2014|             500|     M|  5000|  Mumbai|
|         70|     Kumar|    Chand|2004|             600|     M|  5000|  Mumbai|
+-----------+----------+---------+----+----------------+------+------+--------+

In [0]:
from pyspark.sql.functions import concat, lit

empDF_AddColumn = empDF.withColumn("Bonus",empDF.salary*0.1).withColumn("Name",concat("first_name",lit(" "),"last_name"))
display(empDF_AddColumn)

employee_id,first_name,last_name,doj,employee_dept_id,gender,salary,Bonus,Name
10,Raj,Kumar,1999,100,M,2000,200.0,Raj Kumar
20,Rashi,Rajan,2002,200,F,8000,800.0,Rashi Rajan
30,Raghav,Manish,2010,100,null,6000,600.0,Raghav Manish
40,Rinki,Singh,2004,100,F,7000,700.0,Rinki Singh
50,Rama,Krish,2008,400,M,1000,100.0,Rama Krish
60,Rasul,Kutty,2014,500,M,5000,500.0,Rasul Kutty
70,Kumar,Chand,2004,600,M,5000,500.0,Kumar Chand

In [0]:
empDF_RenameColumn = empDF_AddColumn.withColumnRenamed("Name","Full_Name").withColumnRenamed("doj","Date_of_Joining").show()

+-----------+----------+---------+---------------+----------------+------+------+-----+-------------+
|employee_id|first_name|last_name|Date_of_Joining|employee_dept_id|gender|salary|Bonus|    Full_Name|
+-----------+----------+---------+---------------+----------------+------+------+-----+-------------+
|         10|       Raj|    Kumar|           1999|             100|     M|  2000|200.0|    Raj Kumar|
|         20|     Rashi|    Rajan|           2002|             200|     F|  8000|800.0|  Rashi Rajan|
|         30|    Raghav|   Manish|           2010|             100|  NULL|  6000|600.0|Raghav Manish|
|         40|     Rinki|    Singh|           2004|             100|     F|  7000|700.0|  Rinki Singh|
|         50|      Rama|    Krish|           2008|             400|     M|  1000|100.0|   Rama Krish|
|         60|     Rasul|    Kutty|           2014|             500|     M|  5000|500.0|  Rasul Kutty|
|         70|     Kumar|    Chand|           2004|             600|     M|  5000|500.0|  Kumar Chand|
+-----------+----------+---------+---------------+----------------+------+------+-----+-------------+

In [0]:
empDF_DropColumn = empDF_AddColumn.drop("name").drop("Bonus").show()

+-----------+----------+---------+----+----------------+------+------+
|employee_id|first_name|last_name| doj|employee_dept_id|gender|salary|
+-----------+----------+---------+----+----------------+------+------+
|         10|       Raj|    Kumar|1999|             100|     M|  2000|
|         20|     Rashi|    Rajan|2002|             200|     F|  8000|
|         30|    Raghav|   Manish|2010|             100|  NULL|  6000|
|         40|     Rinki|    Singh|2004|             100|     F|  7000|
|         50|      Rama|    Krish|2008|             400|     M|  1000|
|         60|     Rasul|    Kutty|2014|             500|     M|  5000|
|         70|     Kumar|    Chand|2004|             600|     M|  5000|
+-----------+----------+---------+----+----------------+------+------+