In [0]:
employee_data = [(10,"Raj","1999","100","M",2000),
                 (20,"Rahul","2002","200","M",8000),
                 (30,"Raghav","2010","100","",6000),
                 (40,"Raja","2004","100","F",7000),
                 (50,"Rama","2008","400","F",1000),
                 (60,"Rasul","2014","500","M",5000)
]

employee_schema = ["employee_id","name","doj","employee_dept_id","gender","salary"]

employeeDF= spark.createDataFrame(data = employee_data, schema= employee_schema)

In [0]:
department_data = [("HR",100),
                   ("Supply",200),
                   ("Sales",300),
                   ("Stock",400)
]

department_schema = ["dept_name","dept_id"]

departmentDF = spark.createDataFrame(data = department_data, schema = department_schema)

In [0]:
display(employeeDF)

display(departmentDF)

employee_id,name,doj,employee_dept_id,gender,salary
10,Raj,1999,100,M,2000
20,Rahul,2002,200,M,8000
30,Raghav,2010,100,,6000
40,Raja,2004,100,F,7000
50,Rama,2008,400,F,1000
60,Rasul,2014,500,M,5000

dept_name,dept_id
HR,100
Supply,200
Sales,300
Stock,400

In [0]:
df_innerjoin = employeeDF.join(departmentDF,employeeDF.employee_dept_id == departmentDF.dept_id, "inner").show()

+-----------+------+----+----------------+------+------+---------+-------+
|employee_id|  name| doj|employee_dept_id|gender|salary|dept_name|dept_id|
+-----------+------+----+----------------+------+------+---------+-------+
|         10|   Raj|1999|             100|     M|  2000|       HR|    100|
|         30|Raghav|2010|             100|      |  6000|       HR|    100|
|         40|  Raja|2004|             100|     F|  7000|       HR|    100|
|         20| Rahul|2002|             200|     M|  8000|   Supply|    200|
|         50|  Rama|2008|             400|     F|  1000|    Stock|    400|
+-----------+------+----+----------------+------+------+---------+-------+

In [0]:
df_outerjoin = employeeDF.join(departmentDF,employeeDF.employee_dept_id == departmentDF.dept_id, "full").show()

+-----------+------+----+----------------+------+------+---------+-------+
|employee_id|  name| doj|employee_dept_id|gender|salary|dept_name|dept_id|
+-----------+------+----+----------------+------+------+---------+-------+
|         10|   Raj|1999|             100|     M|  2000|       HR|    100|
|         30|Raghav|2010|             100|      |  6000|       HR|    100|
|         40|  Raja|2004|             100|     F|  7000|       HR|    100|
|         20| Rahul|2002|             200|     M|  8000|   Supply|    200|
|       NULL|  NULL|NULL|            NULL|  NULL|  NULL|    Sales|    300|
|         50|  Rama|2008|             400|     F|  1000|    Stock|    400|
|         60| Rasul|2014|             500|     M|  5000|     NULL|   NULL|
+-----------+------+----+----------------+------+------+---------+-------+

In [0]:
df_leftjoin = employeeDF.join(departmentDF,employeeDF.employee_dept_id == departmentDF.dept_id, "left").show()

+-----------+------+----+----------------+------+------+---------+-------+
|employee_id|  name| doj|employee_dept_id|gender|salary|dept_name|dept_id|
+-----------+------+----+----------------+------+------+---------+-------+
|         10|   Raj|1999|             100|     M|  2000|       HR|    100|
|         20| Rahul|2002|             200|     M|  8000|   Supply|    200|
|         30|Raghav|2010|             100|      |  6000|       HR|    100|
|         40|  Raja|2004|             100|     F|  7000|       HR|    100|
|         50|  Rama|2008|             400|     F|  1000|    Stock|    400|
|         60| Rasul|2014|             500|     M|  5000|     NULL|   NULL|
+-----------+------+----+----------------+------+------+---------+-------+

In [0]:
df_rightjoin = employeeDF.join(departmentDF,employeeDF.employee_dept_id == departmentDF.dept_id, "right").show()

+-----------+------+----+----------------+------+------+---------+-------+
|employee_id|  name| doj|employee_dept_id|gender|salary|dept_name|dept_id|
+-----------+------+----+----------------+------+------+---------+-------+
|         40|  Raja|2004|             100|     F|  7000|       HR|    100|
|         30|Raghav|2010|             100|      |  6000|       HR|    100|
|         10|   Raj|1999|             100|     M|  2000|       HR|    100|
|         20| Rahul|2002|             200|     M|  8000|   Supply|    200|
|       NULL|  NULL|NULL|            NULL|  NULL|  NULL|    Sales|    300|
|         50|  Rama|2008|             400|     F|  1000|    Stock|    400|
+-----------+------+----+----------------+------+------+---------+-------+

In [0]:
df_leftSemiJoin = employeeDF.join(departmentDF,employeeDF.employee_dept_id == departmentDF.dept_id, "semi").show()

+-----------+------+----+----------------+------+------+
|employee_id|  name| doj|employee_dept_id|gender|salary|
+-----------+------+----+----------------+------+------+
|         10|   Raj|1999|             100|     M|  2000|
|         30|Raghav|2010|             100|      |  6000|
|         40|  Raja|2004|             100|     F|  7000|
|         20| Rahul|2002|             200|     M|  8000|
|         50|  Rama|2008|             400|     F|  1000|
+-----------+------+----+----------------+------+------+

In [0]:
df_leftAntiJoin = employeeDF.join(departmentDF,employeeDF.employee_dept_id == departmentDF.dept_id, "anti").show()

+-----------+-----+----+----------------+------+------+
|employee_id| name| doj|employee_dept_id|gender|salary|
+-----------+-----+----+----------------+------+------+
|         60|Rasul|2014|             500|     M|  5000|
+-----------+-----+----+----------------+------+------+