In [0]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").getOrCreate()
print(spark.sparkContext.version)

3.5.0

In [0]:
employee_data = [(100,"Stephen","1999","100","M",2000),
                 (200,"Philipp","2002","200","M",8000),
                 (300,"John","2010","100","",6000)
                 ]

employee_schema = ["employee_id","name","doj","employee_dept_id","gender","salary"]

dF1 = spark.createDataFrame(data = employee_data, schema = employee_schema)

display(dF1)

employee_id,name,doj,employee_dept_id,gender,salary
100,Stephen,1999,100,M,2000
200,Philipp,2002,200,M,8000
300,John,2010,100,,6000

In [0]:
employee_data = [(300,"John","2010","100","",6000),
                 (400,"Nancy","2008","400","F",1000),
                 (500,"Rosy","2014","500","M",5000)
                 ]

employee_schema = ["employee_id","name","doj","employee_dept_id","gender","salary"]

dF2 = spark.createDataFrame(data = employee_data, schema = employee_schema)

display(dF2)

employee_id,name,doj,employee_dept_id,gender,salary
300,John,2010,100,,6000
400,Nancy,2008,400,F,1000
500,Rosy,2014,500,M,5000

In [0]:
dF_union = dF1.union(dF2)
display(dF_union)

employee_id,name,doj,employee_dept_id,gender,salary
100,Stephen,1999,100,M,2000
200,Philipp,2002,200,M,8000
300,John,2010,100,,6000
300,John,2010,100,,6000
400,Nancy,2008,400,F,1000
500,Rosy,2014,500,M,5000

In [0]:
display(dF_union.dropDuplicates())

employee_id,name,doj,employee_dept_id,gender,salary
100,Stephen,1999,100,M,2000
200,Philipp,2002,200,M,8000
300,John,2010,100,,6000
400,Nancy,2008,400,F,1000
500,Rosy,2014,500,M,5000

In [0]:
dF_unionAll = dF1.unionAll(dF2)

display(dF_unionAll)

employee_id,name,doj,employee_dept_id,gender,salary
100,Stephen,1999,100,M,2000
200,Philipp,2002,200,M,8000
300,John,2010,100,,6000
300,John,2010,100,,6000
400,Nancy,2008,400,F,1000
500,Rosy,2014,500,M,5000

In [0]:
dF3 = dF2.select(dF2.employee_id,dF2.name,dF2.doj,dF2.employee_dept_id,dF2.gender)

display(dF3)

employee_id,name,doj,employee_dept_id,gender
300,John,2010,100,
400,Nancy,2008,400,F
500,Rosy,2014,500,M

In [0]:
dF_invalidScenerio = dF1.union(dF3)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-26867747854029>, line 1
----> 1 dF_invalidScenerio = dF1.union(dF3)

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:4856, in DataFrame.union(self, other)
   4760 def union(self, other: "DataFrame") -> "DataFrame":
   4761     """Return a new :class:`DataFrame` containing the union of rows in this and another
   4762     :class:`DataFrame`.
   4763
   (...)
   4854     +---+-----+
   4855     """
-> 4856     return DataFrame(self._jdf.union(other._jdf), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1355, in JavaMember.__call__(self, *args)
   1349 command = proto.CALL_COMMAND_NAME +\
   1350     self.command_header +\
   1351     args_command +\
   1352     proto.END_COMMAND_PART
   1354 answer = self.gateway_client.send_command(command)
-> 1355 return_value = get_return_value(
   1356     answer, self.gateway_client, self.target_id, self.name)
   1358 for temp_arg in temp_args:
   1359     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:254, in capture_sql_exception.<locals>.deco(*a, **kw)
    250 converted = convert_exception(e.java_exception)
    251 if not isinstance(converted, UnknownException):
    252     # Hide where the exception came from that shows a non-Pythonic
    253     # JVM exception message.
--> 254     raise converted from None
    255 else:
    256     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 6 columns and the second input has 5 columns. SQLSTATE: 42826;
'Union false, false
:- LogicalRDD [employee_id#2L, name#3, doj#4, employee_dept_id#5, gender#6, salary#7L], false
+- Project [employee_id#27L, name#28, doj#29, employee_dept_id#30, gender#31]
   +- LogicalRDD [employee_id#27L, name#28, doj#29, employee_dept_id#30, gender#31, salary#32L], false